#menu-section {
    width: 100%;
}

.menu-row {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

.item {
    text-align: center;
}

.item:hover {
    color: #26a69a;
    cursor: pointer;
    transition: color .2s ease-out;
}

.item img {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.item h2 {
    margin: 10px 0;
}
